.photo-gallery {
  padding: 0 20px;
}

.photo-gallery__text {
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 50px 0;
}

.photo-gallery__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .photo-gallery__wrapper {
    max-width: 950px;
    margin: 0 auto;
  }
}
