.photo-post {
  background-color: $grey;
  display: flex;
  flex-direction: column;
}

.photo-post__time {
  font-weight: 300;
}

.photo-post__like-num {
  color: $pink;
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .photo-post__text {
    max-width: 240px;
  }

  .photo-post__text--featured {
    max-width: 100%;
    order: 4;
  }

  .photo-gallery__list {
    display: flex;
    flex-wrap: wrap;
  }
}
