.social__list {
  @include list-reset;

  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .social__list {
    justify-content: space-between;
  }

  .social__item {
    border: 3px solid $light-grey;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    line-height: 51px;
    text-align: center;
  }
}
