.form__text-label {
  color: $pink;
  line-height: 30px;
  text-transform: uppercase;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset-wrapper {
  padding: 43px 0;
  width: 280px;
  margin: 0 auto;
}

.form__fieldset-legend {
  color: $pink;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.form__text-field {
  display: flex;
  flex-direction: column;
}

.form__checkbox-label {
  font-size: 18px;
  line-height: 30px;
}

.form__textarea {
  width: 100%;
}

.form__submit {
  background-color: $green;
  border: none;
  border-radius: 2px;
  color: $white;
  line-height: 30px;
  margin: 0 auto;
  outline: none;
  text-transform: uppercase;
  height: 64px;
}

.form__legend-wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  margin: 0 auto;
  text-transform: uppercase;
}

.form__legend-sup {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .form__fieldset-wrapper,
  .form__legend-wrapper {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset-wrapper,
  .form__legend-wrapper {
    width: 940px;
  }
}
