.advantages {
  text-align: center;
}

.advantages__wrapper {
  background-color: $grey;
  padding: 0 20px;
}

.advantages__image--tablet,
.advantages__image--desktop {
  display: none;
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  padding: 47px 0 70px;
  line-height: normal;
  width: 320px;
}

.advantages__title {
  color: $black;
  font-size: 18px;
  line-height: 10px;
}

.advantages__list {
  @include list-reset;
  width: 280px;
  margin: 0 auto;
  padding-top: 55px;
}

.advantages__item {
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .advantages__image--mobile,
  .advantages__image--desktop {
    display: none;
  }

  .advantages__image--tablet {
    display: inline;
  }

  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .advantages__list {
    width: 310px;
  }

  .advantages__picture {
    order: -1;
  }
}
