.advantages {
  text-align: center;
}

.advantages__wrapper {
  background-color: $grey;
}

.advantages__list {
  @include list-reset;
  padding-top: 55px;
  width: 280px;
  margin: 0 auto;
}

.advantages__image--tablet,
.advantages__image--desktop {
  display: none;
}

.advantages__text-wrapper {
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  padding: 47px 0 70px;
  line-height: normal;
  width: 280px;
}

.advantages__text {
  margin: 0;

  &:first-child {
    margin-bottom: 15px;
  }
}

.advantages__title {
  color: $black;
  font-size: 18px;
  line-height: 10px;
}

.advantages__item {
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .advantages__image--mobile,
  .advantages__image--desktop {
    display: none;
  }

  .advantages__image--tablet {
    display: inline;
  }

  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .advantages__text-wrapper {
    font-size: 40px;
    width: 620px;
  }

  .advantages__text {
    &:first-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      width: 320px;
      margin: 0 auto;
    }
  }

  .advantages__list {
    width: 310px;
  }

  .advantages__picture {
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text-wrapper {
    font-size: 50px;
    width: 940px;
  }

  .advantages__text {
    &:nth-child(2) {
      width: 415px;
    }
  }

  .advantages__wrapper {
    width: 940px;
  }
}
