.page-header {
  background-color: $blue;
}

.page-header__logo {
  border-bottom: 1px solid $black;
  display: block;
  padding: 21px 20px;
}

.page-header__wrapper {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    margin: 0 auto;
    width: 960px;
  }
}
