.price__wrapper {
  background-color: $grey;
}

.price__list {
  width: 320px;
  margin: 0 auto;
}

.price__header {
  background-color: $blue;
  text-align: center;
}

.price__title {
  color: $white;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.price__number {
  color: $white;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.price__features {
  line-height: 14px;
  text-transform: uppercase;
}

.price-feature__item {
  td {
    border-bottom: 2px solid $dark-grey;
  }

  &:nth-child(3) {
    td {
      border-bottom: none;
    }
  }
}

.price__item-table {
  background-color: $white;
  border: 2px solid $dark-grey;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .price__item-table {
    width: auto;
  }

  .price__list {
    display: flex;
  }

  .price-feature__item {
    td:nth-child(1) {
      display: none;
    }
  }
}
