.promo {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 110px;
}

.promo__img {
  display: block;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
  }
}
