.slider__list {
  @include list-reset;
}

.slider__toggles {
  @include list-reset;

  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .slider__toggles {
    display: none;
  }
}
